*, *:before, *:after {
  box-sixing: border-box;
}

body {
  height: 100vh; 
  overflow: hidden;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.init {
  height: 100%;
}

.blackout {
  display: none;
  position: absolute;
  top: 0; 
  left: 0;
  height: 100%;
  width: 100%;
  background: #3C3C3C;
  padding-top: 70px;

  .aGraph {
    path {
      stroke: white;
      stroke-width: 5px;
      fill: none;
    }
  }
}

